<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
</head>
<body>

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }} alert alert-{{ type }}" role="alert" >
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    {% block stylesheets %}

    {% endblock %}
    {% block javascripts %}

    {% endblock %}
        {% block bh_seo_content %}
        {% endblock %}
</body>
</html>

