{% extends "BHSeoBundle::layout.html.twig" %}

{% block bh_seo_content %}
    <h1>Éditer <small><a href="{{ path('admin_seo') }}">Retour</a></small></h1>
    {{ include('@BHSeo/seo/form.html.twig') }}
    <hr>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Supprimer</button>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Supprimer</h4>
                </div>
                <div class="modal-body">
                    La supression sera définitive.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <a href="{{ path('admin_seo_delete', {'seo':seo.id}) }}" class="btn btn-danger">Supprimer</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

