{% set title = "Seo" %}
{% set description = "Itaque tum Scaevola cum in eam ipsam mentionem incidisset, exposuit nobis sermonem Laeli de amicitia habitum ab illo secum et cum altero genero, C. Fannio Marci filio, paucis diebus post mortem Africani. Eius disputationis sententias memoriae mandavi, quas hoc libro exposui arbitratu meo; quasi enim ipsos induxi loquentes, ne 'inquam' et 'inquit' saepius interponeretur, atque ut tamquam a praesentibus coram haberi sermo videretur." %}

{% if seo is defined and seo != null %}
    {% set title = seo.title %}
    {% if seo.description|length > 0 %}
        {% set description = seo.description %}
    {% endif %}
{% endif %}
<title>{{ title }}</title>
<meta name="description" content="{{ description }}"/>